:root {
    --dark-bg: #1F2937;
    --header-logo-text-size: 24px;
    --header-logo-text-color: #F9FAF8;
    --header-link-text-size: 18px;
    --header-link-text-color: #E5E7EB;
    --hero-main-txt-size: 48px;
    --hero-main-txt-color: #F9FAF8;
    --hero-main-txt-weight: 800;
    --hero-second-txt-size: 18px;
    --hero-second-txt-color: #F9FAF8;
    --button-color: #3882F6;
    --c2a-bg: #3882F6;
    --info-header-txt-size: 36px;
    --info-header-txt-weight: 800;
    --info-header-txt-color: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-txt-size: 36px;
    --quote-txt-style: light italic;
    --quote-txt-color: #1F2937; 
}

.wrapper {
    font-family: roboto;
}

/* Header */

.header {
    background-color: var(--dark-bg);
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    color: var(--header-logo-text-color);
    font-size: var(--header-logo-text-size);
    font-weight: bold;
}

.navigation ul {
    color: var(--header-link-text-color);
    display: flex;
    font-size: var(--header-link-text-size);
}

.navigation ul li {
    padding-left: 25px;
}

/* Hero Section */

.hero {
    background-color: var(--dark-bg);
}

.hero-wrapper {
    width: 70%;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.hero-txt-wrapper {
    height: 259px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-txt-h1 {
    font-size: var(--hero-main-txt-size);
    color: var(--hero-main-txt-color);
    font-weight: var(--hero-main-txt-weight);
}

.hero-txt-sub-p {
    font-size: var(--hero-second-txt-size);
    color: var(--hero-second-txt-color);
}

.hero-btn {
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.hero-img-container {
    padding-left: 50px;
}

.hero-img {
    background-color: #6D747D;
    width: 50rem;
    border-radius: 15px;
}

.hero-img-txt {
    padding: 120px 0;
    text-align: center;
}

/* Information */

.info-wrapper {
    width: 50%;
    margin: 0 auto;
}

.info-container {
    padding: 50px 0;
}

.info-heading {
    text-align: center;
    padding-bottom: 3rem;
}

.info-heading-txt {
    font-size: var(--info-header-txt-size);
    font-weight: var(--info-header-txt-weight);
    color: var(--info-header-txt-color);
}

.info-card__container {
    display: flex;
    justify-content: space-between;
}

.info-card {
    width: 175px;
    flex-wrap: wrap;
}

.info-card__img {
    border: 2px solid var(--button-color);
    border-radius: 15px;
    height: 175px;
    width: 175px;
}

.info-card-txt {
    font-size: var(--hero-second-txt-size);
    text-align: center;
}

/* Quote */

.quote-section {
    background-color: var(--quote-bg);
}

.quote-container {
    width: 50%;
    margin: 0 auto;
    padding: 125px 0;
}

blockquote {
    font-style: italic;
    font-size: var(--quote-txt-size);
    color: var(--quote-txt-color);
}

figcaption {
    float: right;
    font-weight: bolder;
    font-size: var(--quote-txt-size);
    padding-top: 15px;
}

/* Call To Action */

.call-to-action {
    margin: 75px 0;
}

.cta-container {
    background-color: var(--c2a-bg);
    width: 70%;
    border-radius: 15px;
    margin: 0 auto;
    padding: 25px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header-link-text-color);
}

.cta-h4 {
    font-size: var(--info-header-txt-size);
    font-weight: var(--info-header-txt-weight);
}

.cta-button {
    border: 2px solid var(--header-link-text-color);
    padding: 15px 35px;
    border-radius: 15px;
    font-weight: bold;
}

/* Footer */

.footer {
    background-color: var(--dark-bg);
    padding: 50px 0;
}

.footer-container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: white;
}